definitions:
  models.APIResponse:
    properties:
      data: {}
      message:
        type: string
      status:
        type: string
    type: object
  models.ConnectionRequest:
    properties:
      endpoint:
        description: ip:port
        type: string
      model:
        description: Human readable name
        type: string
      series:
        description: '"0i", "31i"'
        type: string
      timeout:
        description: ms, default 5000
        type: integer
    required:
    - endpoint
    type: object
info:
  contact: {}
  description: Service for managing Fanuc CNC connections and data polling
  title: Fanuc Service API
  version: "1.0"
paths:
  /api/v1/connect:
    delete:
      parameters:
      - description: Machine ID
        in: query
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.APIResponse'
      security:
      - ApiKeyAuth: []
      summary: Delete connection
      tags:
      - Connection
    get:
      description: If 'id' is provided, checks health of specific connection. If not,
        lists all connections.
      parameters:
      - description: Machine ID (optional)
        in: query
        name: id
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.APIResponse'
      security:
      - ApiKeyAuth: []
      summary: Get connections or Check specific connection
      tags:
      - Connection
    post:
      consumes:
      - application/json
      description: Connects to a Fanuc machine
      parameters:
      - description: Connection Data
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/models.ConnectionRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.APIResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/models.APIResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.APIResponse'
      security:
      - ApiKeyAuth: []
      summary: Create a new connection
      tags:
      - Connection
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: X-API-Key
    type: apiKey
swagger: "2.0"
